@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  transition: all 0.3s ease;
}

body {
  height: 100vh;
  width: 100%;
  display: flex;
  background-image: linear-gradient(135deg, #4CAF50 10%, #81C784 100%);
  overflow: hidden;
}

::selection {
  color: #f2f2f2;
  background: #388E3C; 
}

body::before,
body::after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: -1; /* Move pseudo-elements to the background */
}

body::before {
  clip-path: circle(30% at left 20%);
  opacity: 0.4;
  background-image: linear-gradient(135deg, #66BB6A 10%, #A5D6A7 100%);
}

body::after {
  opacity: 0.4;
  clip-path: circle(25% at right 80%);
  background-image: linear-gradient(135deg, #66BB6A 10%, #A5D6A7 100%);
}

.confirmation-section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
  width: 100%;
}

.confirmation-section h2 {
  font-size: 32px;
  text-align: center;
  margin-bottom: 20px;
  color: #111;
}

.confirmation-section button {
  margin: 0 auto;
  padding: 15px 30px;
  font-size: 18px;
  background-color: #43A047; 
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.confirmation-section button:hover {
  background-color: #388E3C;
}

.confirmation-section button:disabled {
  background-color: #A5D6A7; /* Light green to fit the theme */
  color: #555;
  cursor: not-allowed;
}